* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #800101, #890e0e, #873030 );
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  background: linear-gradient(to right, #014001, #026202 ,#04a604 );
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 3.5em;
}

header p {
  font-size: 1.2em;
}

/* Seção de morango */
.morango {
  background-color: #f068687d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.morango h2 {
  color: white;
  margin-bottom: 15px;
}

.morango-img {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKtpsv-Y61mlo-1XD96-1ercyU_yZ4fcg0mg&s');
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e65c4b;
}

.informacoes {
  display: none;
  margin-top: 20px;
  text-align: left;
  color: black;
}

.informacoes ul {
  list-style-type: none;
  padding-left: 20px;
  color: black;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #050000;
}
